
DirectoryIndex index.php
RewriteEngine On

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route requests to index.php and include the original query string
RewriteRule ^(.*)$ index.php [QSA,L]
#SSL Config
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]